{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "utils": "./src/utils",
          "routes": "./src/routes",
          "controllers": "./src/controllers"
        }
      }
    ]
  ]
}
